<head>
    <meta charset="utf-8">
    <!-- Load PayPal's checkout.js Library. -->
    <script src="https://www.paypalobjects.com/api/checkout.js" data-version-4 log-level="warn"></script>
    <!-- Load the dropin -->
    <script src="https://js.braintreegateway.com/web/dropin/1.4.0/js/dropin.min.js"></script>
    <!-- Load the client component. -->
    <script src="https://js.braintreegateway.com/web/3.19.1/js/client.min.js"></script>
    <!-- Load the PayPal Checkout component. -->
    <script src="https://js.braintreegateway.com/web/3.19.1/js/paypal-checkout.min.js"></script>
    <!-- Collecting device data for Paypal -->
    <script src="https://js.braintreegateway.com/web/3.19.1/js/data-collector.min.js"></script>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Angular -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>

<body>
    <div id=subscription-page>
        <p>Choose your subscription! Note that monthly payments will be automatically renewed</p>
        <button type="button" onclick="subscription(2.99,1)"> 2.99 for 1 month</button>
        <button type="button" onclick="subscription(12.99,5)"> 12.99 for 5 months</button>
        <button type="button" onclick="subscription(20.99,10)"> 20.99 for 10 months</button>
    </div>
    <div id=payment-page style="display:none;">
        <div id="dropin-container"></div>
        <button id="submit-button">Request payment method</button>
        <div id="paypal-button"></div>
    </div>
    <script>
        var charge;
        var length;
        
        function subscription(option1, option2){
            charge = option1;
            length = option2;
            console.log(charge);
            $.get("../db/payment-server-init.php", function(data, status) {
                createDropIn(data);
            });
            $('#subscription-page').hide();
            $('#payment-page').show();
        }
        
        var button = document.querySelector('#submit-button');


        function createDropIn(token) {
            /*-------------------------CREDIT CARDS-------------------------*/
            braintree.dropin.create({
                authorization: token,
                container: '#dropin-container'
            }, function(createErr, instance) {
                //drop-in
                button.addEventListener('click', function() {
                    instance.requestPaymentMethod(function(err, payload) {
                        $.post("../db/credit-transaction.php", {
                                nonce: payload.nonce,
                                amount: charge
                            },
                            function(data, status) {
                                console.log(data);
                            });
                    });
                });
            });

            /*-------------------------PAYPAL-------------------------*/
            braintree.client.create({
                authorization: token
            }, function(clientErr, clientInstance) {
                if (clientErr) {
                    console.error('Error creating client:', clientErr);
                    return;
                }

                braintree.dataCollector.create({
                    client: clientInstance,
                    paypal: true
                }, function(err, dataCollectorInstance) {
                    if (err) {
                        // Handle error
                        return;
                    }
                    // At this point, you should access the dataCollectorInstance.deviceData value and provide it
                    // to your server, e.g. by injecting it into your form as a hidden input.
                    myDeviceData = dataCollectorInstance.deviceData;
                });

                // Create a PayPal Checkout component.
                braintree.paypalCheckout.create({
                    client: clientInstance
                }, function(paypalCheckoutErr, paypalCheckoutInstance) {


                    // Stop if there was a problem creating PayPal Checkout.
                    // This could happen if there was a network error or if it's incorrectly
                    // configured.
                    if (paypalCheckoutErr) {
                        console.error('Error creating PayPal Checkout:', paypalCheckoutErr);
                        return;
                    }

                    // Set up PayPal with the checkout.js library
                    paypal.Button.render({

                        env: 'sandbox', // or 'production'

                        payment: function() {
                            return paypalCheckoutInstance.createPayment({
                                flow: 'vault',
                                billingAgreementDescription: 'Your agreement description',
                                enableShippingAddress: true,
                                shippingAddressEditable: true,
                                amount: charge,
                                currency: 'USD'

                                /*
                                shippingAddressOverride: {
                                    recipientName: 'Scruff McGruff',
                                    line1: '1234 Main St.',
                                    line2: 'Unit 1',
                                    city: 'Chicago',
                                    countryCode: 'US',
                                    postalCode: '60652',
                                    state: 'IL',
                                    phone: '123.456.7890'
                                }
                                */
                            });
                        },


                        onAuthorize: function(data, actions) {
                            return paypalCheckoutInstance.tokenizePayment(data)
                                .then(function(payload) {
                                    console.log(payload);
                                    $.post("../db/paypal-transaction.php", {
                                        amount: charge,
                                        nonce: payload.nonce,
                                        type: payload.type,
                                        payerId: payload.details.payerId,
                                        address: payload.details.shippingAddress
                                    }, function(data, status) {
                                        console.log(data);

                                    });
                                });
                        },

                        /*
                        onCancel: function(data) {
                            console.log('checkout.js payment cancelled', JSON.stringify(data, 0, 2));
                        },

                        onError: function(err) {
                            console.error('checkout.js error', err);
                        }
                        */
                    }, '#paypal-button').then(function() {
                        // The PayPal button will be rendered in an html element with the id
                        // `paypal-button`. This function will be called when the PayPal button
                        // is set up and ready to be used.
                    });


                });


            });
        }

    </script>
</body>
