
 @import 'https://fonts.googleapis.com/css?family=Raleway:300,500,900';
 
 /******Header********/	
#app_header {
    display: block;
    position:fixed;
    top:0;
    width:100%;
    height:65px;
    background:#777;
    text-align: center;
    box-shadow: 0 0 5px #444;
    z-index: 10;
}

#app_header button.backbtn {
    position: fixed;
    left: 10px;
    font-size: 16px;
    border: 0;
    background: #606060;
    height: 40px;
    margin-top: 13px;
    width: 60px;
}

body {
  min-height: 90%;
  margin-top: 65px;
  overflow-y: auto;
  padding-top: 0px;
  background-color: #ABB7B7;

}

#app_header button{
    background: transparent;
    font-family: 'Raleway',sans-serif;
    font-weight: 500;
    font-size: 30px;
	margin: 7px 0 0 0;
    color:white;
    border: 1px lightblue solid;
	width: 45px;
    border-radius: 4px;
	padding: 2px;
}
/******Header END********/
 
 button.btnBlue  {
    background: #3071A9;
    color:white;
    font-family: 'Raleway'; 
    font-weight: 600;
    font-size: 12px;
    width:100%;
   	height: 19vh; 
    text-align: center;   
  	border-radius: 2px;
  	text-overflow: ellipsis;
    white-space: initial;
    word-wrap: break-word;
    transition: all 0.3s ease 0s;
    border-radius: 20px;
}
 
 .stage {
  -webkit-perspective: 1000; 


}

/* 
@media only screen and (max-width:518px) {
    .stage {
  -webkit-perspective: 1000; 

    }

}
 */


.flashcard {
  height: 65vh;  
  width: 55vh; 
  margin: auto;
/* 
  box-shadow: 2px 2px 2px #000;
 */
  -webkit-transform-style: preserve-3d;  
  transition: all 0.3s;               
  -webkit-transition: all 0.3s;
  border-radius: 45px;
  font-family: 'Raleway',sans-serif;
  word-wrap: break-word;


}

.flipped, .back {
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg); 
    font-family: 'Raleway',sans-serif;

}

.backbtn{
	position: fixed;
	left:10px;
}

.front{
  height: 65vh;  
  width: 55vh; 
  position: absolute;   
  text-align: center;   
  -webkit-backface-visibility: hidden;    
  background-color: #2ecc71;
  font-family: 'Raleway',sans-serif;
  word-wrap: break-word;
  font-size: xx-small;
  color: #ffffff;
  border-radius: 45px;
/* 
  box-shadow: 3px 3px 3px #888888;
 */
   
}

.back {
  height: 65vh;  
  width: 55vh; 
  position: absolute;    
  text-align: center;   
  -webkit-backface-visibility: hidden;       
  background-color: #3071a9;
  text-align: center;
    font-family: 'Raleway',sans-serif;
  word-wrap: break-word;
  font-size: xx-small;
  color: #ffffff;
  border-radius: 45px;
/* 
  box-shadow: 3px 3px 3px #888888;
 */
}


div.myButton input {
    background:url(http://www.sesamestreet.org/sites/all/themes/sesametheme/img/bridge/next_button.png) no-repeat;
    cursor:pointer;
    border: none;
	float:right;

}
div.myButton2 input {
    background:url(http://www.sesamestreet.org/sites/all/themes/sesametheme/img/bridge/next_button.png) no-repeat;
    cursor:pointer;
	padding-left : 60px; 
	float:left;
    border: none;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.submit_btn {
	width: 50%;
	background-color:#777;
	border-radius: 10px;
	color: aliceblue;
	margin: 2px;
}
.next_btn{
	width: 50%;
	background-color:#777;
	border-radius: 10px;
	color: aliceblue;
	margin: 2px;
}
.btn_wrap {
	display: flex;
	margin: 5px;
	text-align: center;
	font-family: 'Raleway',sans-serif;
	font-size: 30px;
}

.btn_footer {
	position: fixed;
	bottom:0;
	z-index: 10;
	border: none;
	width: 100%;
	text-align: center;
	font-family: 'Raleway',sans-serif;
	font-size: 30px;
}



.front p, .back p {
  margin-top: 25%;       
  font-size: 3em;
}

/******Header********/	
#app_header {
    display: block;
    position:fixed;
    top:0;
    width:100%;
    height:65px;
    background:#777;
    text-align: center;
    box-shadow: 0 0 5px #444;
    z-index: 10;
}

#app_header button.back {
    position: fixed;
    left: 10px;
    font-size: 16px;
    border: 0;
    background: #606060;
    height: 40px;
    margin-top: 13px;
    width: 60px;
}

#app_header button{
    background: transparent;
    font-family: 'Raleway',sans-serif;
    font-weight: 500;
    font-size: 30px;
	margin: 7px 0 0 0;
    color:white;
    border: 1px lightblue solid;
	width: 45px;
    border-radius: 4px;
	padding: 2px;
}
/******Header END********/