header#header-wrap {
    margin: 0px;
}

@media (min-width: 992px)
theme.css:371
#header.header-md {
    min-height: 60px;
}

#header{
	padding: 0px 0px 0px 0px;
	padding-top: 150px;
	background: white;
}

#header.header-filled{
	/*background-color: white !important;*/
	-webkit-filter: opacity(0%); /* Safari 6.0 - 9.0 */
    filter: opacity(0%);
    /*display: none;*/
}
#header:not(.header-filled):not(.fly-up){
	padding-top:0px;
}




div#product-container {
    float: none;
}

div#section-video {
    text-align: center;
    width: 100%;
}

.our_pro_main{
	color:#cccccc;
}