.container {
    margin-top: 7%;
}

.nav-tabs {
    margin-left:1px;
    margin-top:13px;
    width:100%;
    position:fixed;
    background:white;
    font-size: 120%;
}

#result-msg {
    color: #FF5A5F;
    font-size: 80%
}

.add-friend {
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

#friend-profile{
    font-family: 'Raleway', sans-serif;
    text-align:left;
    font-size:16px;
}

.socialHeader{
    background: #fa4e51 !important;
}

.socialHeader .modal_close{
    color: white !important;
    background: #fa4e51 !important;
}

.socialHeader .header_title{
    color: white !important;
}

.add-friend {
    z-index:100;

    /* Center the dialog 
    top: 50%;
    left: 50%;
    margin-left: -8vw;
    margin-top: -10vw; */
    
    position: fixed;
	top: 50%;
	left: 50%;

    width: 25.5vw;
	margin-left: -12.525vw;
    margin-top: -10vw;
	height: auto;

    overflow:auto;

    border-radius: 4px;
    background-color: #fff;
    box-shadow: 4px 4px 80px #000;
    -webkit-box-shadow: 4px 4px 80px #000;
    -moz-box-shadow:    4px 4px 80px #000;
    box-shadow:         4px 4px 80px #000;
}

#lean_overlay_social{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index:99;
    background: rgba(0,0,0,.2);
    
}

input[type=text] {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

input[type=text]:focus {
    width: 100%;
}


form{
    margin-bottom: 0px;
}
li {
    width:100%;
    color: black;
}

.nav>li>a{
    padding-top:20px;
    padding-bottom:20px;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    color: white;
    background-color: #fa4e51;
}

a {
    color: black;
}

.nav-tabs>li>a:hover {
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);*/
    cursor: pointer;
    background-color: rgba(254, 81, 84, 0.88);
    color: white;
}

.tab-content {
    /*border: 1px solid #fa4e51;*/
    margin-top: 8%;
    height: 600px;
    /*background-color: #fa4e51;*/
}

h3 {
    text-align: center;
    padding-top: 2%;
}

.challenge-title {
    margin-left: 15%;
    margin-bottom: 5%;
}

p {
    padding: 3%;
    font-size: 120%;
}

ul {
    display: flex;
    justify-content: center;
}

.listButton {
    margin-right: 1%;
    margin-left: 1%;
}

.add-list-block {
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
}

.add-list-block button {
    font-family: 'Raleway', sans-serif;
    color: #8d99ae;
    font-size: 13px;
    margin-top: 20px;
    padding: 10px;
    width: 20%;
    line-height: 10px;
    letter-spacing: 1px;
    border: 2px #ccc solid;
    border-radius: 10px;
    font-weight: 200;
    transition: box-shadow 0.3s ease-in-out;
}

#container {
    display: flex;
    justify-content: center;
}


#submit {
    font-family: 'Raleway', sans-serif;
    color: #8d99ae;
    font-size: 13px;
    padding: 10px;
    margin-bottom: 20px;
    line-height: 10px;
    letter-spacing: 1px;
    border: 2px #ccc solid;
    border-radius: 10px;
    font-weight: 200;
    transition: box-shadow 0.3s ease-in-out;
}

.add-list-block input {
    font-family: 'Raleway', sans-serif;
    color: #8d99ae;
    font-size: 13px;
    margin-top: 20px;
    padding: 10px;
    width: 20%;
    line-height: 10px;
    letter-spacing: 1px;
    border: 2px #ccc solid;
    border-radius: 10px;
    font-weight: 300;
    transition: box-shadow 0.3s ease-in-out;
    height: 40px;
    text-align: center;
}

.add-list-block button:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    /*border-color: #fa4e51;*/
}

.add-list-block input:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    /*border-color: #fa4e51;*/
}

.add-list-block label {
    color: #8d99ae;
}

.challenge {
    /*border-color: #fa4e51;*/
    border: 1px solid #fa4e51;
    color: black;
    border-radius: 15px;
    padding: 10px;
    font-size: 12px;
    position: relative;
    left: 10%;
    transition: box-shadow 0.4s ease-in-out;
    transition: background-color 0.4s ease-in-out;
}

.challenge:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    background-color: #fa4e51;
    color: white;
}

.title {
    display: inline;
}

.ranking-item {
    display:table;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    width: 60%;
    margin-left: 20%;
    margin-bottom: 1%;
    border: 1px solid #fa4e51;
    border-radius: 10px;
    height: 10px;
}

.ranking-list {
    margin-top: 1%;
    display: inline;
}

.ranking-item p {
    display: table-cell;
    vertical-align:middle;
    text-align:center;
    margin-left: 10px;
}

.ranking-circle {
    border-radius: 50%;
    background-color: #fa4e51;
    color: white;
    position: relative;
    height: 30px;
    width: 30px;
    font-size: 80%;
    padding: 10px;
    text-align: center;
    margin-right: 5%;
    float: right;
}

.friend {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    width: 20%;
    float: left;
    margin-left: 2%;
    margin-bottom: 2%;
    height: 150px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #fa4e51;
}

.friends {
    margin-top: 5%;
    margin-left: 8.5%;
    display: block;
    justify-content: space-around;
    
}

.selectlist {
    color: #999;
}

.friend p {
    margin-top: 10%;
}